@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./main.css");

/* Título e descrição */
.Fale {
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #004aad;
}
.contato-L{
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;  
}
        
p {
  margin: auto;
  text-align: center;
  margin: 1rem 2rem;
  font-size: 1rem;
}
        
.Formulario .Form {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


.Formulario  .nome,
.Formulario  .email,
.Formulario  .mensagem{
  padding: 10px 3px 10px 3px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 1rem;
}


.Formulario  .button{
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #004aad;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Formulario .button:hover {
  background-color: #00308f;
}
        
/* Formulário de contato */
.Formulario  {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Seção de contato */

.contato {
max-width: 800px;
padding: 60px;
border-radius: 8px;
margin: 2rem auto; 
font-size: 1rem;
color: #555;
}

.contato p b {
  color: #004aad;
  }


/* Responsividade */

.Formulario  {
  width: 90%;
  padding: 1rem;
}


.contato {
  width: 90%;
  padding: 1rem;
}



            